<div class="row">
  <a target="_blank" href="/login" alt="Login using Github"><img src="http://www.piwai.info/static/blog_img/murakamicat.png" height="400px"></a>
</div>
<div class="row">
  {{!-- <pre style="text-align: left" id="list"></pre> --}}
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/javascript" src="javascripts/github.js"></script>
<script type="text/javascript">

// Social API stuff

</script>