<div clas="container">
  <button id="install-btn" class="btn btn-lg btn-success" title="Activate the Social Coding plugin.">Activate the Social Coding plugin.</button>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/github.js"></script>
<script>
var baseurl = location.origin;

var data = {
  // currently required
  "name": "Github Notifications",
  "iconURL": baseurl+"images/github16.png",
  "icon32URL": baseurl+"images/github32.png",
  "icon64URL": baseurl+"images/github64.png",

  "sidebarURL": baseurl+"/sidebar",

  // should be available for display purposes
  "description": "This SocialAPI plugin for Github provides a notification button and sidebar for Github's notifications API ( see https://developer.github.com/v3/activity/notifications/ )",
  "author": "Jeff Griffiths, Mozilla",
  "homepageURL": "https://github.com/canuckistani/fx-gh-socialapi/",

  // optional
  "version": "1.0"
}

function activate(node) {
  var event = new CustomEvent("ActivateSocialFeature");
  node.setAttribute("data-service", JSON.stringify(data));
  node.dispatchEvent(event);
}

$(function() {
  $('#install-btn').click(function(ev) {
    activate(this);
  });
})
</script>