<div class="container">
  <div class="row centered">
    <img src="images/octocat.png">
  </div>
  <div class="row centered">
    <a id="login-btn" href="#" class="btn btn-lg btn-success">Github Auth</a>
  </div>
</div>
{{> script}}
{{> loginscript}}