<h3>Oops!</h3>
<p>In order to use the Github Notifications service, you need to log in to Github first and authorize this service.</p>
<p>
<a href="/" type="button" class="btn btn-success">button</a>
</p>