{{!-- TODO: make a pretty list --}}
<div style="text-align: left" class="row">
  <h3><img class="logo" src="images/github32.png">Notifications</h3>
  {{!-- <pre style="text-align: left" id="list"></pre> --}}
  <ul class="list-group">
     {{!-- <li class="list-group-item">Free Domain Name Registration</li> --}}

  </ul>
</div>

<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/github.js"></script>
<script type="text/javascript">
var token = '{{{token}}}';
</script>

<script type="text/javascript">
var data;
$(function() {
  function renderList(list) {
    var _tpl = "<% _.each(notifications, function(item) { %> <li class=\"list-group-item\"><%= item.title %></li> <% }); %>";
    return _.template(_tpl, {notifications: list});
  }
  var pp = function(o) { return JSON.stringify(o,null,'  '); };

  var gh = new Github({
    token: window.token,
    auth: 'oauth'
  });

  var user = gh.getUser();
  var fetch_date = Date().now;

  user.notifications(function(err, result) {
    if (err) throw err;
    var list = _.map(result, function(item) {
      var _ret = item.subject;
      _ret.repo_name = item.repository.full_name;
      _ret.repo_url = item.repository.url;
      return _ret;
    });

    var count = list.length;
    data = list;

    // $('#list').html(pp(list));
    $('.list-group').html(renderList(list));
    console.log(list);
  });
});
</script>