body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding: 0;
}

a {
  color: #00B7FF;
}

.row {
  text-align: left;
  padding-left: 20px;
  padding-right: 30px;  
}

.logo {
  margin-right: 12px;
  margin-bottom: 6px;
}

.install-main .row {
  text-align: center;
}

.centered {
  text-align: center;
}