body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding: 0;
}

a {
  color: #00B7FF;
}

body > div.container {
  margin-top 60px;
}

div.row {
  text-align: center;
}